---
---

body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}


/* components */

.dot {
    display: inline-block;
    content: ' ';
    width: 0.5em;
    height: 0.5em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    background: black;
    border-radius: 1em;

    &.red {
        background: red;
    }
}