---
---

html, body {
    font-size: 16px;
}

:root {
    --text-color: #e4e2d9;
    --bg-color: #000;
    --figure-height: 95vh;
    --image-height: calc(var(--figure-height) - 2.5em);
}

html, body {
    color: var(--text-color);
    background:var(--bg-color);
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    width: 100%;
}

/* tags */
img {
    max-width:100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2;

    margin:0;
}

h1 {
    font-size: 3.815rem;
    font-weight: bold;

    @media screen and (width <= 40em) {
        font-size: 2.986rem;
    }
}

h2 {
    font-size: 3.052rem;
    font-weight: bold;

    @media screen and (width <= 40em) {
        font-size: 2.488rem;
    }
}

h3 {
    font-size: 2.441rem;
    font-weight: 300;

    @media screen and (width <= 40em) {
        font-size: 2.074rem;
    }
}

h4 {
    font-size: 1.953rem;
    font-weight: 300;

    @media screen and (width <= 40em) {
        font-size: 1.728rem;
    }
}

h5 {
    font-size: 1.563rem;
    font-weight: 200;

    @media screen and (width <= 40em) {
        font-size: 1.44rem;
    }
}

h6 {
    font-size: 1.25rem;
    font-weight: 200;

    @media screen and (width <= 40em) {
        font-size: 1.2rem;
    }
}

a, a:visited {
    color: #86b4fe;
}

a:hover {
    color: #aec9f5;
}

/* layouts */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.wrapper.default {
    max-width: 40rem;
    margin: auto;
}

header {
    text-align: center;
}

footer {
    padding: 2em 1em 4em;

    text-align: center;
}

.main-title {
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // align-items: center;

    padding: 1rem;

    text-align: center;

    // @media screen and (width <= 40em) {
    //     grid-template-columns: 1fr;

    //     padding-top: 1rem;

    //     text-align: center;
    //     grid-gap: 1rem;
    // }

    h1, h2, h3, h4, h5, h6 {
        line-height:0.85;

        display: block;

        margin: 1.5rem 0;
    }

    // *:last-child {
    //     text-align: right;

    //     @media screen and (width <= 40em) {
    //         text-align: center;
    //     }
    
    // }

}

nav {
    width: 100%;
    padding-top:1em;

    @media screen and (width <= 50em) {
        padding:0;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1px;

        width: 100%;
        margin:0;
        padding:0;

        li {
            display: block;

            width: auto;

            margin:0;

            padding:0;

            letter-spacing: 1px;
            text-transform: uppercase;

            background: #afada5;

            @media screen and (width <= 50em) {
                flex-grow:1;
            }

            &:first-child {
                padding-left: 0.25em;

                border-radius: 2em 0 0 2em;

                @media screen and (width <= 50em) {
                    padding:0;

                    border-radius:0;
                }
            }

            &:last-child {
                padding-right: 0.25em;

                border-radius: 0 2em 2em 0;

                @media screen and (width <= 50em) {
                    padding:0;

                    border-radius:0;
                }
            }

            a, a:visited {
                font-weight: 400;

                position: relative;

                display: inline-block;

                box-sizing: border-box;

                padding: 0.5em 0.75em;

                text-decoration: none;

                color: var(--bg-color);

                @media screen and (width <= 50em) {
                    display: block;

                    width:100%;
                }
            }

            &.active, &:hover {
                background: var(--text-color);

                a {
                    color: var(--bg-color);
                }
            }

        }
    }
}

.content {
    text-align: center;
}

.artworks {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 2em;

    .art {
        position: relative;

        flex-shrink:1;

        &.w-1 {
            flex-basis: 100%;

            max-width: 900px;
        }

        &.w-1-2 {
            flex-basis:calc(50% - 1em);
        }
        
        &[class*="w-"] {
            max-height: var(--figure-height);
    
            @media screen and (width <= 40em) {
                flex-basis: 100%;
    
                max-width: 900px;
            }
        }

        img {
            display: block;

            width: auto;
            max-width: 100%;
            height: auto;
            max-height:var(--image-height);
            margin: auto;
        }

        .data {
            display: grid;
            grid-template-columns: 2fr 1fr;

            box-sizing: border-box;
            max-width: 400px;
            margin: auto;
            padding: 0 1.5em;

            .title {
                font-weight: bold;
            }

            .meta {
                text-align: right;
            }
        }
    }
}

/* components */

.dot {
    display: inline-block;

    width: 0.5em;
    height: 0.5em;
    margin:0.125em;

    content: ' ';

    border-radius: 1em;
    background: var(--bg-color);

    &.red {
        background: red;
    }
}

/* lazy load images */

.no-js img[loading='lazy'] {
    opacity:1;
}

img[loading='lazy'] {
    transition: opacity 250ms ease-out;

    opacity:1;
}

.is-loading {
    height: var(--image-height);
}

.is-loading img[loading='lazy'] {
    transition: opacity 250ms ease-out;

    opacity:0;
}

.warning-active {
    margin-top: 2em;
}

.warning {
    position: fixed;
    z-index:99;
    top:0;
    right:0;
    left:0;

    padding: 0.5em 0;

    color: #54131c;

    background: #c14f60;
}